.button-dialogue {
  border-radius: 20px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-dialogue {
  background-color: white;
  color: black;
  border: 3px solid #4b4b4b;
}

.button-dialogue:hover {
  background-color: #555555;
  color: white;
}

#demoFont {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 20px;
  letter-spacing: -2.2px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}
